

.HeroMenu {
    display: flex;
    justify-content: center;
    align-items: center; /* optional, to vertically center the content */
    min-height: 70vh; /* optional, to make sure the section takes up at least the height of the viewport */
}

.container {
    text-align: left; /* optional, to center align content within the container */
}

/* Image dekstop */

.img1{
    
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 10px;
}

.img2{

   margin-top: 80px;
   margin-left: 10px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 10px;
}

.img3{

    margin-top: -20px;
    border-top-left-radius: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
}

.img-img{
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

/* Akhir image dekstop */



/* Image mobile */
.img11{
    
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 10px;
}

.img22{

   margin-top: 80px;
   margin-left: 10px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 10px;
}

.img33{

    margin-top: -20px;
    border-top-left-radius: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
}



@media (max-width: 768px) {
    .img1, .img2, .img3 {
        display: none;
    }


}

@media (min-width: 769px) {
    .img11, .img22, .img33 {
        
       
display: none;
    }
}







#project{
     background-color: #e2edff;
}

#About{
    padding-bottom: 25px;
    margin-bottom: 20px;
}

#tulisanabout{
    margin-bottom: 10px;
}

section{
    padding-top: 2rem;
 
}
.btn{
    margin: 5px;
}
footer{
    padding: 15px;
    padding-top: 25px;
    margin-top: 20px;
}



/* FAQs */
.accordion-button {
    position: relative;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    background-color: #ffffff;
    border: 1px solid  #003283;
    text-align: left;
    cursor: pointer;
    border-radius: 20px;
}
.accordion-item {
    overflow: hidden;
    margin-bottom: 15px;
}

.accordion-body{
    background-color: #e2edff;
}
.accordion-flush .accordion-item {
    margin-bottom: 10px;
}

.accordion-flush .accordion-button {
    background-color: white;
    color: black;
    font-weight:500;
    border-radius: 10px;
}

#Acoarding{
font-size: 17px;
color: #000000;
}
#form{
    border: 1px solid blue;
}

/* Text about */
#textabout{
    padding: 10px;
    margin: 10px;
}

/* button kirim */
