.navbar{
    background-color: #003BFF;
}

.HeroMenu {
    margin-top: -35px;
    display: flex;
    justify-content: center;
    align-items: center; /* optional, to vertically center the content */
    min-height: 70vh; /* optional, to make sure the section takes up at least the height of the viewport */
}

.container {
    overflow-x: hidden;
    text-align: left; /* optional, to center align content within the container */
}

/* Image dekstop */

.img1{
    
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 10px;
}

.img2{

   margin-top: 80px;
   margin-left: 10px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 10px;
}

.img3{

    margin-top: -20px;
    border-top-left-radius: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
}

.img-img{
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

/* Akhir image dekstop */



/* Image mobile */
.img11{
   margin-left: 10px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 10px;
}

.img22{

    margin-left: 20px;
    margin-top: 60px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 10px;
}

.img33{
    margin-top: -10px;
    margin-right: 135px;
    border-top-left-radius: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
}



@media (max-width: 768px) {
    .img1, .img2, .img3 {
        display: none;
    }


}

@media (min-width: 769px) {
    .img11, .img22, .img33 {
        
       
display: none;
    }
}


.img-img{
    padding-top: 30px;
}

#textHero{
    font-weight: 400;
    font-size: 18px;
}

.hello{
    color: #f18d01;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


/* project */
#project{
     background-color: #e2edff;
}

#btnCard{
    background-color: #003283;
}





section{
    padding-top: 2rem;
 
}
.btn{
    margin: 5px;
}
footer{
    background-color: #003283;
    padding: 15px;
    padding-top: 25px;
    margin-top: 20px;
}

/* Button kontak hero */
#btnkontak{
background-color: #003283;
color: white;
}




/* skill */

.row{
    justify-content: center;
    padding-top: 10px;
}

.box1{
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 15px;
    margin: 10px;
    border: solid 1px rgb(187, 187, 187);
    border-radius: 10px;
}

.box1 :hover{
transform: scale(1.1);
}

@media (min-width: 769px) {
    .box1 {
        display: none;
    }


}

h6{
    font-size: 18px;
}

#myskill{
    color: #f18d01;
    font-weight: bold;
    font-family: "baloo";
}

.skill{
    margin-top: -35px;
}

.skill .row{
     cursor: pointer;
    transition: transform 0.3s ease;
}

.skill .row :hover{
    transform: scale(1.1);
}



/* FAQs */
.accordion-button {
    position: relative;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    background-color: #ffffff;
    border: 1px solid  #003283;
    text-align: left;
    cursor: pointer;
    border-radius: 20px;
}
.accordion-item {
    overflow: hidden;
    margin-bottom: 15px;
}

.accordion-body{
    background-color: #e2edff;
}
.accordion-flush .accordion-item {
    margin-bottom: 10px;
}

.accordion-flush .accordion-button {
    background-color: white;
    color: black;
    font-weight:500;
    border-radius: 10px;
}
#accordion{
    margin-bottom: 50px;
}

#Acoarding{
font-size: 17px;
color: #000000;
}
#form{
    border: 1px solid blue;
}

/* Button form komtak */
#sendMessageBtn{
    background-color: #003283;
}


#name{
    border: 1px solid ;
    border-color: #003283;
}

#email{
     border: 1px solid ;
    border-color: #003283;
}

#Message{
     border: 1px solid ;
    border-color: #003283;
}